<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/commons/fonts.css" />
    <link rel="stylesheet" href="../../../styles/commons/variables.css" />
    <link rel="stylesheet" href="./__theme/text__theme.css" />
    <link rel="stylesheet" href="./__title/text__title.css" />
    <link rel="stylesheet" href="./__subtitle/text__subtitle.css" />
    <link rel="stylesheet" href="./__paragraph/text__paragraph.css" />
    <link rel="stylesheet" href="./__author/text__author.css" />
    <title>Document</title>
  </head>

  <body>
    <h3 class="text__theme">Illustration</h3>
    <hr />
    <h1 class="text__title">Japan house opens in mountainside to foster peak creativity.</h1>
    <hr />
    <h2 class="text__subtitle">
      Thousands of previously unseen photographs by andy warhol will be made public this autumn
    </h2>
    <hr />
    <p class="text__paragraph">
      Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri
      novum molestie eos cu.
    </p>
    <hr />
    <p class="text__author">By reta torphy</p>
  </body>
</html>
