<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/commons/fonts.css" />
    <link rel="stylesheet" href="../../../styles/commons/variables.css" />
    <link rel="stylesheet" href="./text.css" />
    <link rel="stylesheet" href="./_type/text_type_theme.css" />
    <link rel="stylesheet" href="./_type/text_type_title.css" />
    <link rel="stylesheet" href="./_type/text_type_subtitle.css" />
    <link rel="stylesheet" href="./_type/text_type_paragraph.css" />
    <link rel="stylesheet" href="./_type/text_type_author.css" />
    <title>Document</title>
  </head>

  <body style="min-width: 320px" ;>
    <h3 class="text text_type_theme">Illustration</h3>
    <hr />
    <h1 class="text text_type_title">Japan house opens in mountainside to foster peak creativity.</h1>
    <hr />
    <h2 class="text text_type_subtitle">
      Thousands of previously unseen photographs by andy warhol will be made public this autumn
    </h2>
    <hr />
    <p class="text text_type_paragraph">
      Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri
      novum molestie eos cu.
    </p>
    <hr />
    <p class="text text_type_author">By reta torphy</p>
  </body>
</html>
