<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="form.css" />
    <link rel="stylesheet" href="../../styles/commons/variables.css" />
    <link rel="stylesheet" href="__email/form__email.css" />
    <link rel="stylesheet" href="__button/form__button.css" />
    <title>form</title>
  </head>
  <body>
    <!-- Использовать форму -->
    <form action="#" class="form">
      <input class="form__email" id="mail" name="email" type="email" placeholder="EMAIL ADDRESS" required />
      <input class="form__button" id="send" name="send" type="button" value="SEND" />
    </form>
  </body>
</html>
