.form__button {
  cursor: pointer;

  margin: 0;
  padding: 0 24px;

  color: var(--color-main-light);

  background-color: var(--color-main-dark);
  border: none;
  border-radius: 0;

  transition: all 0.5s;
}

.form__button:hover {
  transform: scale(1.1);
}
