.text_type_theme {
  font-family: var(--fonts-libre-franklin);
  font-size: 10px;
  line-height: 12px;
  color: var(--color-text-gray-main);
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
}
