.text_type_author {
  font-family: var(--fonts-libre-franklin);
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  color: var(--color-main-dark);
  text-transform: uppercase;
  letter-spacing: 1px;
}
