<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/commons/fonts.css" />
    <link rel="stylesheet" href="../../../styles/commons/variables.css" />
    <link rel="stylesheet" href="./button.css" />
    <link rel="stylesheet" href="./_scale-font-size/button_scale-font-size.css" />
    <title>Button</title>
  </head>

  <body>
    <button class="button button_scale-font-size">Viev all latest posts (tag button)</button>
    <hr />
    <a href="#" class="button button_scale-font-size">View all latest posts (tag a)</a>
  </body>
</html>
