.button {
  cursor: pointer;

  display: block;

  width: 205px;
  height: 54px;

  font-family: var(--fonts-libre-franklin);
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  color: var(--color-main-dark);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;

  background-color: var(--color-main-light);
  border: 1px solid #000;

  transition: all 0.5s;
}

.button:hover {
  box-shadow: 1px 1px 8px 5px #000;
}
