<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="card.css" />
    <link rel="stylesheet" href="./__picture/card__picture.css" />
    <link rel="stylesheet" href="./_place/card_place_current.css" />
    <link rel="stylesheet" href="./_place/card_place_latest.css" />
    <link rel="stylesheet" href="./_place/card_place_featured.css" />
    <link rel="stylesheet" href="./_place/card_place_main.css" />
    <link rel="stylesheet" href="./__picture/_place/card__picture_place_current.css" />
    <link rel="stylesheet" href="./__picture/_place/card__picture_place_latest.css" />
    <link rel="stylesheet" href="./__picture/_place/card__picture_place_featured.css" />
    <link rel="stylesheet" href="./__picture/_place/card__picture_place_main.css" />
    <link rel="stylesheet" href="./__info-box/card__info-box.css" />
    <link rel="stylesheet" href="./__info-box/_place/card__info-box_place_main.css" />

    <link rel="stylesheet" href="../../styles/commons/fonts.css" />
    <link rel="stylesheet" href="../../styles/commons/variables.css" />
    <link rel="stylesheet" href="./../UI/text/text.css" />
    <link rel="stylesheet" href="./../UI/text/_type/text_type_theme.css" />
    <link rel="stylesheet" href="./../UI/text/_type/text_type_title.css" />
    <link rel="stylesheet" href="./../UI/text/_type/text_type_subtitle.css" />
    <link rel="stylesheet" href="./../UI/text/_type/text_type_paragraph.css" />
    <link rel="stylesheet" href="./../UI/text/_type/text_type_author.css" />

    <link rel="stylesheet" href="./__theme/card__theme.css" />
    <link rel="stylesheet" href="./__title/card__title.css" />
    <link rel="stylesheet" href="./__subtitle/card__subtitle.css" />
    <link rel="stylesheet" href="./__paparagraph/card__paparagraph.css" />
    <title>Card</title>
  </head>

  <body>
    <!-- Использовать карточку plase main-->
    <article class="card card_place_main">
      <img
        class="card__picture card__picture_place_main"
        src="../../assets/images/medium-card_4_lueilwitz.jpg"
        alt=""
      />
      <div class="card__info-box card__info-box_place_main">
        <h3 class="text text_type_theme card__theme">Illustration</h3>
        <h1 class="text text_type_title card__title">Japan house opens in mountainside to foster peak creativity.</h1>
        <p class="text text_type_paragraph card__paparagraph">
          Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri
          novum molestie eos cu.
        </p>
        <p class="text text_type_author">By reta torphy</p>
      </div>
    </article>

    <!-- Использовать карточку plase current-->
    <article class="card card_place_current">
      <img class="card__picture card__picture_place_current" src="../../assets/images/medium-card_1_ortiz.jpg" alt="" />
      <div class="card__info-box">
        <h3 class="text text_type_theme card__theme">Photography</h3>
        <h2 class="text text_type_subtitle card__subtitle">
          Helmut Lang celebrates taxi drivers worldwide in latest campaign
        </h2>
        <p class="text text_type_author">By Alessandra Ortiz</p>
      </div>
    </article>
    <!-- Использовать карточку plase Latest posts-->
    <article class="card card_place_latest">
      <img class="card__picture card__picture_place_latest" src="../../assets/images/top-card_torphy.jpg" alt="" />
      <div class="card__info-box">
        <h3 class="text text_type_theme card__theme">Illustration</h3>
        <h2 class="text text_type_subtitle card__subtitle">
          Japan House opens in mountainside to foster peak creativity.
        </h2>
        <p class="text text_type_author">By reta torphy</p>
      </div>
    </article>
    <!-- Использовать карточку plase Featured posts-->
    <article class="card card_place_featured">
      <img
        class="card__picture card__picture_place_featured"
        src="../../assets/images/large-card_1_onojeghuo.jpg"
        alt=""
      />
      <div class="card__info-box">
        <h3 class="text text_type_theme card__theme">Graphic Design</h3>
        <h2 class="text text_type_subtitle card__subtitle">A Brief History of the FIFA World Cup Logo</h2>
        <p class="text text_type_author">By Clem Onojeghuo</p>
      </div>
    </article>
  </body>
</html>
