<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./nav-list.css" />
    <link rel="stylesheet" href="./_place/nav-list_place_categories.css" />
    <link rel="stylesheet" href="./__title/nav-list__title.css" />
    <link rel="stylesheet" href="./__title/_place/nav-list__title_place_categories.css" />
    <link rel="stylesheet" href="./__item/_place/nav-list_place_information.css" />
    <link rel="stylesheet" href="./__item/nav-list__item.css" />

    <link rel="stylesheet" href="../../styles/commons/variables.css" />

    <link rel="stylesheet" href="../UI/link/_color/link_color_light.css" />
    <link rel="stylesheet" href="../UI/link/link.css" />

    <title>Nav-List</title>
  </head>

  <body>
    <!-- Categories-->
    <nav class="nav">
      <h2 class="nav-list__title nav-list__title_place_categories">Categories</h2>
      <ul class="nav-list nav-list_place_categories">
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Animation </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Architecture </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Graphic Design </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Illustration </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Interactive Design </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Miscellaneous </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Photography </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Product Design </a>
        </li>
      </ul>
    </nav>

    <!-- Information/Follow us -->

    <nav class="nav">
      <h2 class="nav-list__title">Information</h2>
      <ul class="nav-list nav-list_place_information">
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> about </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light nav-list__link" href="#" target="_blank"> contact </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light nav-list__link" href="#" target="_blank"> terms </a>
        </li>
      </ul>
    </nav>

    <!-- Template -->
    <nav class="nav">
      <h2 class="nav-list__title">Template</h2>
      <ul class="nav-list nav-list_place_information">
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Image License Info </a>
        </li>
        <li class="nav-list__item">
          <a class="link link_color_light" href="#" target="_blank"> Powered by Webflow </a>
        </li>
      </ul>
    </nav>
  </body>
</html>
