<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="link.css" />
    <link rel="stylesheet" href="../../../styles/commons/variables.css" />
    <link rel="stylesheet" href="_color/link_color_dark.css" />
    <link rel="stylesheet" href="_color/link_color_light.css" />
    <title>Document</title>
  </head>
  <body>
    <!-- Модификаторы для ссылок -->
    <!-- 
    *Классы которые можете использовать*
    - link_color_dark - черная ссылка
    - link_color_light - беллая ссылка 
    -->

    <div style="margin-left: 50px; width: 300px">
      <a class="link link_color_dark" href="#">Здесь ваш контент</a>
      <div style="background-color: black; padding: 40px; color: white; width: 200px">
        <!-- Ваши ссылки _light -->
        <a class="link link_color_light" href="#">Здесь ваш контент</a>
        <button class="link link_color_light">Здесь ваш контент</button>
      </div>
    </div>
  </body>
</html>
