.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;

  /* Минимальная высота с учетом добавления 1px на нижнюю границу */
  min-height: 91px;
  padding: 0 120px;

  /* Во имя оптимизации кода линия под шапкой реализована через нижнюю границу, а не через <hr>, так как у линии и шапки одинаковая ширина. */
  border-bottom: 1px solid var(--color-hr);
}
